.Author__image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
   
}
.Author__titleWrap h2 {
    margin-top: 0px;
}
.Author__image img {
    height: 150px;
    padding-bottom: 5px;
}
.Author__container h1 {
 text-align: center;
}
.Author__container {
    width: 60%;
    margin: auto;
}
.Author__address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.Author__address img {
    width: 200px;
    height: 150px;
    margin-top: 20px;
}