.Header {
    width: 100%;
    height: 50px;
    background-color: rgb(109, 187, 132);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Header h2 {
    color: white;
    font-weight: 500;
}
.Header li {
    padding-left: 20px;
}
.Header ul{
    list-style-type: none;
}
.Header a {
    text-decoration: none;
    color: white;
}
.Header__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
